[user]
    name = Nathan Alderson
    email = me@nathanalderson.com
    signingkey = 3DCF1866
[diff]
    tool = bc3
[merge]
    tool = bc3
    conflictStyle = diff3
[mergetool]
    bc3 = trustExitCode
    keepBackup = false
[mergetool.vd]
    cmd = nvim -f -d "$LOCAL" "$BASE" "$REMOTE" "$MERGED" -c '$wincmd w' -c 'wincmd J'
    trustExitCode = true
[difftool]
    prompt = false
    bc3 = trustExitCode
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
[push]
    default = simple
[alias]
    diffall = !diffall

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
[pull]
	rebase = false
[init]
	defaultBranch = main
