[user]
	name = Nathan Alderson
	email = nathan.alderson@gmail.com
    signingkey = 3DCF1866
[diff]
	tool = p4merge
[merge]
	tool = p4merge
[mergetool]
	bc3 = trustExitCode
	keepBackup = false
[difftool]
	prompt = false
	bc3 = trustExitCode
[color]
	ui = auto
[core]
	excludesfile = /home/nalderso/.gitignore_global
[push]
	default = simple
[alias]
	diffall = !diffall
