Host *
  ServerAliveInterval 60

Host localhost 127.0.0.1 ::1
  ForwardAgent yes

Host dt nathan-desktop
  Hostname nathan-desktop
  User nathan
  ForwardAgent yes
  ForwardX11 yes
  ForwardX11Trusted yes

Host lt nathan-laptop
  Hostname nathan-laptop
  User nathan
  ForwardAgent yes
  ForwardX11 yes
  ForwardX11Trusted yes

{% if "tangotango" in ansible_role_names %}
Host nathan-macbook
  Hostname nathan-macbook
  User nathan
  ForwardAgent yes
  ForwardX11 no
{% endif %}

{% if "home_network" in ansible_role_names %}
Host nextcloud*
  User nathan
  ForwardAgent yes

Host rock64*
  User nathan
  ForwardAgent yes

Host raspberrypi01*
  User pi
  ForwardAgent yes
{% endif %}
