[Interface]
PrivateKey = ${PRIVATE_KEY}
Address = 192.168.100.102/32
PostUp = resolvectl dns %i 192.168.1.231; resolvectl domain %i "local"
PreDown = resolvectl revert %i

[Peer]
PublicKey = 17lsXRxlijgHROgWG46pD0oGfhOkPx5pqVNb2HmLizw=
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = nathanalderson.com:51820
